body {
    width: auto;
    background-color: lavender;
}

header {
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    font-weight: bolder;
}

#brand {
    color: rgb(209, 138, 52);
    text-shadow: 2px 2px 5px black;
    margin: 15px;
    width: 400px;
}

a {
    text-decoration: none;
    color: rgb(209, 138, 52);
}

.topnav {
    background-color: rgb(209, 138, 52);
    overflow: hidden;
    border-radius: 15px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: black;
    border-radius: 15px;
}

.topnav a.active {
    background-color: #9b613a;
    color: white;
}

.topnav-right {
    float: right;
}

#srch {
    padding: 4px;
    border-radius: 10px;
    margin: 10px;
    border: none;
    background-color: rgb(203, 213, 184);
}


#profileimg {
    border-radius: 20px;
    width: 300px;
    height: 300px;
    margin: 25px;
}

.about {
    color: #402513;
    letter-spacing: 1px;
}


.leftdiv {
    display: grid;
    grid-template-rows: 1fr;
    float: left;
    grid-gap: 20px;
    /*border: 1px solid black;*/
    max-width: 45%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 1rem;
}

.rightdiv {
    display: grid;
    grid-template-rows: 1fr;
    float: right;
    grid-gap: 20px;
    /*border: 1px solid black;*/
    max-width: 45%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 1rem;
}

.image {
    width: 600px;
    height: 300px;
}


.w3-tangerine {
    font-family: "Tangerine", serif;
    font-weight: bolder;
}

.container1,
.container2,
.container3 {
    display: flex;
    margin: 20px;
    padding: 20px;
    /*border: 1px solid black;*/
}

.shopone,
.shoptwo,
.shopthree {
    /*border: 1px solid black;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 20px;

}

.button {
    border: none;
    border-radius: 15px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
    transition-duration: 1s;
    cursor: pointer;
}

.button1 {
    color: black;
    border: 2px solid #555555;
}

.button1:hover {
    background-color: #555555;
    color: white;
}

h3 {
    text-align: center;
}





@import "http://fonts.googleapis.com/css?family=Ubuntu";
div#main{
height:650px;
margin:0 auto;
font-family:'Ubuntu',sans-serif
}
div#form_sample{
text-align:center;
border:1px solid #ccc;
width:300px;
padding:0 50px 15px;
margin-top:20px;
box-shadow:0 0 15px;
border-radius:6px;
float:left
}
#main h1{
margin-top:40px
}
hr{
margin-top:-5px
}
label{
float:left;
font-size:16px
}
input[type="text"]{
width:100%;
margin-top:10px;
height:25px;
margin-bottom:15px;
padding:10px;
border:3px solid #a6cedb
}
textarea{
width:100%;
border:3px solid #a6cedb;
padding:10px;
margin-bottom:25px;
margin-top:10px;
height:100px;
resize:none
}
input[type="submit"]{
width:100%;
padding:10px 45px;
background-color:#a6cedb;
border:none;
color:black;
font-size:18px;
font-weight:700;
cursor:pointer;
font-family:'Ubuntu',sans-serif
}

div#fugo{
float:right
}

